<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <title>{{ title }}</title>

    <style>


        {{ theme_css|safe }}

        /* Syntax highlighting styles */
        {{ highlight_css|safe }}
    </style>
</head>
<body>
    <article id="wepub">
        {{ content|safe }}
    </article>
</body>
</html>
